.bg-secondary {
  background-color: #009fbd !important;
  color: white;
}

.bg-tertiary {
  background-color: #210062 !important;
}

.bg-fourth {
  background-color: #77037b;
}

.color-white {
  color: white;
  font-weight: bold;
}

.color-secondary {
  color: #009fbd !important;
}

.color-tertiary {
  color: #210062 !important;
}

h1 {
  color: black;
}

label {
  color: black;
}

input::placeholder {
  color: #aaa;
}
